{
  "name": "{{ puppet_forge_username }}-{{ module_name }}",
  "version": "{{ module_version }}",
  "author": "{{ module_author }}",
  "summary": "{{ module_summary }}",
  "license": "{{ module_license }}",
  "source": "{{ module_source_url }}",
  "project_page": "{{ module_source_url }}",
  "issues_url": "{{ module_source_url }}/issues",
  "dependencies": [
    {
      "name": "puppetlabs/stdlib",
      "version_requirement": ">= 4.25.0 < 10.0.0"
    }
  ],
  "requirements": [
    {
      "name": "puppet",
      "version_requirement": ">= {{ min_puppet_version }} < {{ max_puppet_version }}"
    }
  ],
  "operatingsystem_support": [
    {
      "operatingsystem": "RedHat",
      "operatingsystemrelease": ["7", "8", "9"]
    },
    {
      "operatingsystem": "CentOS",
      "operatingsystemrelease": ["7", "8"]
    },
    {
      "operatingsystem": "AlmaLinux",
      "operatingsystemrelease": ["8", "9"]
    },
    {
      "operatingsystem": "Rocky",
      "operatingsystemrelease": ["8", "9"]
    },
    {
      "operatingsystem": "Debian",
      "operatingsystemrelease": ["11", "12"]
    },
    {
      "operatingsystem": "Ubuntu",
      "operatingsystemrelease": ["20.04", "22.04", "24.04"]
    }
  ]
}
