# @summary Manages {{ _external_data.answers.module_name }} {{ subclass_name }}
#
# This class is called from the {{ _external_data.answers.module_name }} main class.
# It is not intended to be used directly.
#
# @api private
class {{ _external_data.answers.module_name }}::{{ subclass_name }} {
  assert_private()

  if ${{ _external_data.answers.module_name }}::manage_{{ subclass_name }} {
    # Add resources here
  }
}
